<a href="https://colab.research.google.com/github/GoldenWind8/AlgorithmicTrading/blob/master/NotebookBoilerplate.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import matplotlib.pyplot as plt
import  tensorflow  as  tf
import pandas as pd

In [2]:
import pandas as pd
from datetime import datetime, timedelta
class DataHandler:
    def __init__(self, file_path):
        self.file_path = file_path

    def read_data(self):
        # read the data from the CSV file into a DataFrame
        df = pd.read_csv(self.file_path)
        return df

    def format_tickstory_data(self, df):
        # parse the date and timestamp strings into datetime objects
        df['DateTime'] = pd.to_datetime(df['Date'].astype(str) + ' ' + df['Timestamp'])

        # create a reference datetime to determine the amount of seconds passed.
        reference = datetime(2022, 11, 29)

        # subtract the reference datetime from the DateTime column
        timedelta = df['DateTime'] - reference

        # convert the timedelta to seconds
        seconds = timedelta.dt.total_seconds()

        # add the seconds to the DataFrame
        df['Seconds'] = seconds

        #Drop NaN values
        df = df.dropna()

        return df

In [5]:
#use datahandler to read in csv file
dataHandler = DataHandler('Data/EURCAD.csv')
data = dataHandler.read_data()

data = dataHandler.format_tickstory_data(data)
data.head()

,Date,Timestamp,Open,High,Low,Close,Volume,DateTime,Seconds
0,20221129,00:00:00,1.39524,1.39531,1.39521,1.39531,61.859999,2022-11-29 00:00:00,0.0
1,20221129,00:00:10,1.39531,1.39533,1.39529,1.39529,31.319999,2022-11-29 00:00:10,10.0
2,20221129,00:00:20,1.39529,1.39531,1.39526,1.39531,24.240000,2022-11-29 00:00:20,20.0
3,20221129,00:00:30,1.39528,1.39532,1.39528,1.39532,12.840000,2022-11-29 00:00:30,30.0
4,20221129,00:00:40,1.39532,1.39534,1.39526,1.39531,48.139999,2022-11-29 00:00:40,40.0